.notice {
    position: fixed;
    max-width: 80px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 35%;
    z-index: 10;
}

.offer {
    z-index: 1;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.color-red {
    color:#f7544a !important;
    font-weight: 500;
}

.user-info {
    display: block;
    width: 190px;
    top: 30px !important;
    li {
        a {
            color: black !important;
        }
        margin-top: 5px;
        margin-bottom: 5px;
        a:hover {
            color: #ff1e2c !important;
        }
    }
}

.user-info {
    display: none;
}
.name-user:hover > ul {
    display: block;
}

