// index
th {
    input {
        margin-left: -10px;
        margin-right: -10px;
    }
}
.list-id {
    width: 50px !important;
    input {
        width: 50px;
    }
}
.list-name {
    input {
        width: 100%;
    }
}
